<!DOCTYPE html>
<html data-bs-theme=”auto”>
<head>
    <title>ytdlp2STRM - General Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" crossorigin="anonymous">
    <script src="/bs-theme-mode.js"></script>
</head>
<body>
    <div class="col-lg-10 mx-auto p-3 py-md-5">
        <h1 class="d-flex align-items-center pb-3 mb-5 border-bottom">ytdlp2STRM - General Settings</h1>
        {% if request == "POST": %}
            {% if result: %}
                <div class="alert alert-success mt-5" role="alert">
                    ./config/config.json saved.
                </div>
            {% else %}
                <iv class="alert alert-danger mt-5" role="alert">
                    Error
                </div>
            {% endif %}
        {% endif %}

        <label class="form-label">./config/config.json</label>
        <form method="post">
            {% for key, value in config_data.items() %}
                <div class="mb-3">
                    <label class="form-label">{{ key }}</label>
                    <input class="form-control" type="text" name="{{ key }}" value="{{ value }}">
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="/" class="btn btn-primary">Go back</a>
        </form>
        <footer class="pt-5 my-5 text-muted border-top">
            <a href="https://github.com/fe80Grau/ytdlp2STRM" target="_blank"><i class="bi bi-github"></i> fe80grau / ytdlp2STRM</a>
            <a style="float:right" href="https://www.buymeacoffee.com/fe80grau" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="width: 90px !important;" ></a>
          </footer>
    </div>
</body>
</html>
