<!DOCTYPE html>
<html data-bs-theme=”auto”>
<head>
    <title>ytdlp2STRM Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" crossorigin="anonymous">
    <script src="/bs-theme-mode.js"></script>
  </head>
<body>
    <div class="col-lg-10 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <h1>ytdlp2STRM - Settings</h1>
          </a>
        </header>
      
        <main>
          <div class="mb-5">
            <a href="/general" class="btn btn-primary btn-lg px-4">General Settings</a>
            <a href="/plugins" class="btn btn-primary btn-lg px-4">Enable / Disable Plugins</a>
            <a href="/crons" class="btn btn-primary btn-lg px-4">Enable / Disable CRONS</a>

          </div>
          <hr class="col-3 col-md-2 mb-5">

          <div class="row g-5">
            <div class="col-md-6">
              <h2>Plugins</h2>
              <ul class="icon-list">
                {% for value in plugins %}
                  <li class="text-muted">
                    <span class="badge bg-secondary">{{ value.name }}</span>
                    {% if value.enabled == True %}
                      <span class="badge bg-success">ENABLED</span>
                    {% else %}
                      <span class="badge bg-danger">DISABLED</span>
                    {% endif %}
                    <a href="/plugin/{{ value.name }}"><span class="badge bg-primary">Settings</span></a>
                    {% if value.channels != None %}
                      <a href="/plugin/{{ value.name }}/channels"><span class="badge bg-primary">Channels</span></a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
      
            <div class="col-md-6">
              <h2>Crons</h2>
              <ul class="icon-list">
                {% for value in crons %}
                  <li class="text-muted">
                    <span class="badge bg-secondary">{{ value.do[1] }}</span> in <span class="badge bg-secondary">{{ value.do[3] }}</span> mode, every <span class="badge bg-secondary">{{ value.qty }} {{ value.every }}</span> 
                    {% if value.at != "" %}
                      at <span class="badge bg-secondary">{{ value.at }}h</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
          <a href="https://github.com/fe80Grau/ytdlp2STRM" target="_blank"><i class="bi bi-github"></i> fe80grau / ytdlp2STRM</a>
          <a style="float:right" href="https://www.buymeacoffee.com/fe80grau" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="width: 90px !important;" ></a>
        </footer>
      </div>
</body>
</html>