<!DOCTYPE html>
<html data-bs-theme=”auto”>
<head>
    <title>ytdlp2STRM - {{ plugin.name }} Settings</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <style>
        @media (prefers-color-scheme: dark) {
          body {
            color: var(--bs-secondary-bg-subtle);
            background-color: var(--bs-dark);
          }
          h1 {
            color: var(--bs-secondary-bg-subtle);
          }
        }
      </style>
</head>
<body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <h1 class="d-flex align-items-center pb-3 mb-5 border-bottom">ytdlp2STRM - {{ plugin.name }} Settings</h1>
        <label class="form-label">{{ plugin.path }}/config.json</label>
        <form method="post">
            {% for key, value in plugin.config.items() %}
                <div class="mb-3">
                    <label class="form-label">{{ key }}</label>
                    <input class="form-control" type="text" name="{{ key }}" value="{{ value }}">
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="/" class="btn btn-primary">Go back</a>
        </form>
        {% if request == "POST": %}
            {% if result: %}
                <div class="alert alert-success mt-5" role="alert">
                    {{ plugin.path }}/config.json saved.
                </div>
            {% else %}
                <iv class="alert alert-danger mt-5" role="alert">
                    Error
                </div>
            {% endif %}
        {% endif %}
    </div>
    <script>
        (function () {
        const htmlElement = document.querySelector("html")
        if(htmlElement.getAttribute("data-bs-theme") === 'auto') {
            function updateTheme() {
              document.querySelector("html").setAttribute(
                "data-bs-theme",
                window.matchMedia(
                  "(prefers-color-scheme: dark)"
                ).matches ? "dark" : "light"
              )
            }
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
            updateTheme()
        }
        })()
    </script>
</body>
</html>
