[Unit]
Description=ytdlp2STRM Service
After=network-online.target

[Service]
WorkingDirectory=/opt/ytdlp2STRM
Type=simple
ExecStart=/usr/bin/python3 /opt/ytdlp2STRM/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target